@model WebApp.Models.TransactionsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="JsonTransactionsRowId">
    <div class="col-md-12">
        <div class="jumbotron">
            <pre class="lead">
                @Html.Raw(Newtonsoft.Json.Linq.JValue.Parse(Model.JsonTransactions).ToString(Newtonsoft.Json.Formatting.Indented))
            </pre>
        </div>
    </div>
</div>

<div class="row" id="TransactionsReturnHomeButtonRowId">
    <div class="col-md-12">
        <p><a style="width: 20%" id="TransactionsReturnHomeButtonId" class="btn btn-primary btn-lg">Volver</a></p>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $('#TransactionsReturnHomeButtonId').click(function () {
        document.location = '@Url.Action("Index", "Home")';
    });
    </script>
}
